# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.DS_Store
vcs.xml
.idea
*.iml
out
.gradle
gen
build

node_modules
/dist